<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies Pvt Ltd</span>
                <span>Apurupa Slipi Sy No 124 Part, 3rd floor</span>
                <span> Gachilbowli Village Above KFC </span>
                <span>Serilingampally Mandal RR Dist - Hyd - 500032</span>
                <span><small><a href="https://www.google.com/maps/place/Thoughtworks+Hyderabad,+Apurupa+Slipi+Sy+No+124+Part,+3rd+floor+Gachilbowli+Village+Above+KFC+Serilingampally+Mandal+RR+Dist+-+Hyd+-+500032/@17.443011,78.357426,17z/data=!3m1!4b1!4m2!3m1!1s0x3bcb9395ed638f61:0x49acd498fc2f1237?hl=en" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.com/maps/place/Thoughtworks+Hyderabad,+Apurupa+Slipi+Sy+No+124+Part,+3rd+floor+Gachilbowli+Village+Above+KFC+Serilingampally+Mandal+RR+Dist+-+Hyd+-+500032/@17.443011,78.357426,17z/data=!3m1!4b1!4m2!3m1!1s0x3bcb9395ed638f61:0x49acd498fc2f1237?hl=en" target="_blank" rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
